body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 10;
  }
  
  nav {
    display: flex;
    justify-content: center; 
    background-color: #333; 
    padding: 10px; 
  }
  
  nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px; 
  }
  
  nav ul li a {
    color: white; 
    text-decoration: none; 
  }

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.introduction img {
  width: 300px; /* กำหนดความกว้างของภาพเป็น 300px */
  height: auto; /* ให้ความสูงปรับอัตโนมัติเพื่อรักษาอัตราส่วน */
  border-radius: 5px 5px 0 0;
}

.Resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
}

.Resueme h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Resueme p {
  text-align: left;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
}

.contact h2 {
  text-align: left;
  padding-bottom: 20px;
}

.contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eddfdf;
  padding: 10px;
  border-radius: 10px;
}

.contact a img {
  width: 100px; /* กำหนดความกว้างของภาพเป็น 100px */
  height: auto; /* ให้ความสูงปรับอัตโนมัติเพื่อรักษาอัตราส่วน */
}

@media screen and (max-width: 600px) {
  .contact {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
