body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 10;
  }
  
  nav {
    display: flex;
    justify-content: center; 
    background-color: #333; 
    padding: 10px; 
  }
  
  nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px; 
  }
  
  nav ul li a {
    color: white; 
    text-decoration: none; 
  }

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.introduction img {
  max-width: 100%;
  height: auto; 
  border-radius: 20px;
}

.Resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
}

.Resueme h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Resueme h3 {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Resueme p {
  text-align: left;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* แก้ grid-template-columns เป็น 50px */
  grid-gap: 20px;
}

.contact h2 {
  text-align: center;
  padding-bottom: 20px;
}

.contact a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfeff;
  padding: 10px;
  border-radius: 10px;
}

.contact a img {
  width: 80px; /* กำหนดความกว้างของรูปภาพเป็น 50px */
  height: auto; /* ให้ความสูงปรับอัตโนมัติเพื่อรักษาอัตราส่วน */
}


.container1 {
  display: flex;
  justify-content: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
}

.skill-item {
  margin: 0 20px; /* ระยะห่างระหว่างข้อมูล */
}

.skill-chart,
.skill-chart1 {
  position: relative;
  width: 100px; /* ขนาดของวงกลม */
  height: 100px; /* ขนาดของวงกลม */
  border-radius: 50%; /* ทำให้เป็นวงกลม */
  background-color: #f0f0f0; /* สีพื้นหลังของวงกลม */
}

.skill-chart-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #00cc00; /* สีของกราฟฟิก */
  clip-path: inset(0 30% 0 0); /* ตัดส่วนของวงกลมที่ไม่ต้องการ */
}


.skill-chart-circle1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fadf33; /* สีของกราฟฟิก */
  clip-path: inset(0 40% 0 0); /* ตัดส่วนของวงกลมที่ไม่ต้องการ */
}

.skill-chart-percent,
.skill-chart-percent1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #333; /* สีของเลข % */
}


@media screen and (max-width: 600px) {
  .contact {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
