body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 10;
}

nav {
  display: flex;
  justify-content: center; 
  background-color: #333; 
  padding: 10px; 
}

nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px; 
}

nav ul li a {
  color: white; 
  text-decoration: none; 
}

main {
  padding: 20px;
}

.Introduce {
  text-align: center;
  margin-bottom: 40px;
}

.PictureSky {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  grid-gap: 20px;
  background-color: #f4f4f4;
  padding: 20px 20px 20px 70px;
  border-radius: 5px;
  align-items: center; /* จัดให้รูปภาพและตัวหนังสืออยู่ตรงกลาง */
}

.PictureSky img {
  width: 250px; /* กำหนดความกว้างของรูปภาพเป็น 250px */
  height: 250px; /* กำหนดความสูงของรูปภาพเป็น 250px */
  object-fit: cover; /* ให้รูปภาพปรับขนาดให้พอดีกับตำแหน่งของกรอบ */
  border-radius: 5px; /* ปรับรูปภาพให้มีมุมโค้ง */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
